
        *{
            margin: 0%;
        }

        #header{
            background-color: aliceblue;
            text-align: center;
            height: 5vw;
            padding-top: 1vw;
        }